@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  font-family: "Satoshi", "sans-serif";
}

.demo-modal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.demo-modal-scrollbar::-webkit-scrollbar-track {
  background: #bfdbfe;
}

.demo-modal-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}

.demo-modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

.demo-modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #bfdbfe;
}
