@import "tailwindcss";
* {
  font-family: var(--font-satoshi);
}
* {
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --font-satoshi: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Satoshi", "sans-serif";
}

.demo-modal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.demo-modal-scrollbar::-webkit-scrollbar-track {
  background: #bfdbfe;
}

.demo-modal-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}

.demo-modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

.demo-modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #bfdbfe;
}
